{% extends 'AppVistas/base.html' %}

{% block titulo %} Nuestros proveedores {% endblock  %}

{% block mensaje %}

<h1>Trabajamos mano a mano con nuestros proveedores para dar la mejor atención!</h1>

{% endblock %}


{% block contenido %}

    <form method="post">{% csrf_token %}
        
        <p>Desea borrar efectivamente a el proveedor {{object}}</p>
        <input type="submit" value="Confirmar">
        <a href="{%url 'proveedores' %}">Volver</a>

    </form>
    
{% endblock contenido %}

